.intro {
    opacity: 0;
    animation: fadeOut 5s; 
    z-index: 102;
    position: relative;
}

#intro-canvas {
    width: 100vw;
    height: 150vh;
    z-index: -100;
    animation: fadeOut 5s;
}

#intro-text {
    opacity: 0;
    font-size: 70px;
    color:#EEEEEE;
    position: absolute;
    left: 25%;
    top: 25%;
    animation: fadeIn 3s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOutCanvas {
    0% {
        opacity: 1;
        z-index: 101;
    }

    50% {
        opacity: 1;
        z-index: 101;
    }

    100% {
        opacity: 0;
        z-index: -100;
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }

    50% { 
        opacity: 1; 
    }

    100% { 
        opacity: 0;
    }
}
