html, body {
    margin: 0;
    background-color: #02030E;
    font-family: sans-serif;
    color: #cbcbcb;
    font-size: 14px;
    line-height: 1.3;
}

header {
    text-align: center;
}

h1 { 
    font-family: Poppins;
    color: rgb(230, 230, 230);
    text-transform: uppercase;
    text-align: center;
    margin: 40px auto;
    z-index: 1;
    position: absolute;
    left: 25%;
}

h3 {
    color: rgb(230, 230, 230);
    font-variant: small-caps;
}

p {
    line-height: 143%;
}

canvas {
    z-index: -1;
}

article {
    margin: 20px auto;
    max-width: 55%;
    z-index: 1;
    position: absolute;
    left: 25%;
    top: 15%;
}

#photo-of-the-day {
    z-index: 10;
    max-height: 80vh;
}

.img-container {
    text-align: center;
}

canvas {
    border: 2px solid #050823;
}

#intro-text {
    opacity: 0;
    font-size: 70px;
    color:#EEEEEE;
    position: absolute; 
    z-index: 1; 
    left: 25%; 
    top: 25%;
    animation: fadeIn 3s;
}

#canvas3 {
    opacity: 1;
    width: 100vw;
    height: 150vh;
}

.intro {
    opacity: 0;
    animation: fadeOut 5s; 
    position: absolute;
    z-index: 2;
    pointer-events: none;
    position:relative; 
    height:200vh
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100%{opacity: 0;}
}


