html, body {
    margin: 0;
    background-color: #02030E;
    font-family: sans-serif;
    color: #cbcbcb;
    font-size: 14px;
    line-height: 1.3;
}

header {
    text-align: center;
}

h1 { 
    font-family: Poppins;
    color: rgb(230, 230, 230);
    text-transform: uppercase;
    text-align: center;
    margin: 40px auto;
    z-index: 1;
    position: absolute;
    left: 25%;
}

h3 {
    color: rgb(230, 230, 230);
    font-variant: small-caps;
}

p {
    line-height: 143%;
}

article {
    margin: 20px auto;
    max-width: 55%;
    z-index: 100;
    position: absolute;
    left: 25%;
    top: 15%;
}

#star-chart {
    z-index: 10;
    max-height: 80vh;
}

.img-container {
    text-align: center;
}

canvas {
    border: 2px solid #050823;
    position: absolute;
}
