html, body {
    margin: 0;
    background-color: #02030E;
    font-family: sans-serif;
    color: #cbcbcb;
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
}

h1 { 
    font-family: Poppins;
    color: rgb(230, 230, 230);
    text-transform: uppercase;
}

h2 {
    font-size: 15px;
    font-variant: small-caps;
    color: rgb(230, 230, 230);
    margin: 0;
}

h3 {
    font-size: 14px;
    font-variant: small-caps;
    color: rgb(230, 230, 230);
    opacity: .7;
}

h2 > span {
    opacity: 1;
}

p {
    line-height: 143%;
}

article {
    max-width: 55%;
    z-index: 100;
    position: absolute;
    left: 23%;
    top: 10%;
}

#explore-body {
    z-index: 1;
    opacity: 1;
    animation: exploreIn 5s; 
}

#twinkle canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#telescope canvas {
    border: 2px solid #111966;
    max-width: 625px;
}   

.container {
    border: 1px solid #111966;
    background-color: rgb(7, 11, 50);
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.telescope-container {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
}

.user-inputs {
    display: flex;
    flex-direction: column;
    z-index: 200;
}

.physical-telescope{
    position:relative;
    top: 15vw;
    right:10vw;
}

#phys-image-tele{
    width: 10vw;
    height: auto;
}
@media (max-width: 400px) {

    html, body {
        font-size: 13px;
    }
    article {
        margin: 10px;
        left: 15%;
        max-width: 70%;
        top: 5%;
    }
    #phys-image-tele{
        position: relative;
        top:50%;
        width: 70px;
        height:auto;
        bottom: 10px;
    }
    .telescope-image{
        top: 60%;
        right: 90%;
        position: relative;
        width: 200%;
        height: auto;
    }

    #constellation-container{
        position:relative;
    }
    #location-container{
        position: relative;
        left: 100%;
        bottom: 60%;
    }

    /* .container {
        margin-bottom: 1rem;
    } */

    canvas {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }


}
